<h1>Create a user - Topic and save the bookmark</h1>

<p>This app will create a user and a topic based on the subject of the email, it assumes the body wll only be the URL you want to save as the bookmark</p>
<br />
<p>Send an email to user@app25152f97e8324294bd7611d294aa2fcd.mailgun.org></p>
