<h1>Blocmarks</h1>
<ul>
  <li>Bookmark URLs via email</li>
  <li>Peruse other user's bookmarks</li>
  <li>Maintain a personal index of categorized bookmarks</li>
</ul>

<% if current_user %>
    <%= link_to 'Create a new topic', new_topic_path, class: 'btn btn-success' %>
<% end %>




